.container {
    width:90% !important;
    margin: 0 5% !important;
}
.demo-btn {
    background-color: #2A0896 !important;
    border-radius: 30px;
}
.start-btn {
    color: black !important;
    font-weight: 500;
}
.fa-arrow-right {
    background-color: #2A0896 !important;
    border-radius: 50%;
    box-shadow: #b09eed 5px 5px;
    width:30px;
    height: 30px;
}